.m-flower {
    padding: 20px;
}
.m-flower-title {
    font-weight: 300;
    .x;
}
.m-flower-desc {
    .x;
    max-width: 800px;
    .auto(x);
    .el-divider__text {
        font-weight: 300;
        color: #888;
    }
}

.m-flower-search {
    .x;

    .u-server,
    .u-type,
    .u-level {
        .mr(20px);
    }
}

.m-flower-submit {
    // max-width:692px;
    // .auto(x);
    // .el-button{
    //     .db;
    //     .w(100%);
    // }
    // .mt(10px);

    .u-tip {
        .mt(10px);
    }
}
.m-flower-box {
    min-height: 500px;
}
.m-flower-result {
    // max-width:800px;
    .auto(x);
    .mt(10px);

    // ul,li{
    //     list-style:none;
    //     padding:0;
    //     margin:0;
    // }

    // li{
    //     border-bottom:1px solid #eee;
    //     .fz(13px,3);
    //     .clearfix;
    // }

    // .u-th{
    //     background-color:@bg-light;
    // }

    // span{
    //     padding: 0 5px;
    //     .w(20%);
    //     .db;
    //     box-sizing: border-box;
    //     .fl;
    // }

    .lh(34px);
}
