.m-furniture{
    padding:20px;
}

.m-furniture-subtype{
    // border:1px solid #eee;
    background-color:@bg-light;
    ul{
        .clearfix;
        list-style:none;
    }
    li{
        .fl;
        img{
            .db;
            .size(52px);
        }
        span{
            .x;
        }
    }
}