.m-furniture{
    padding:20px;
}

.m-furniture-subtype{
    // border:1px solid #eee;
    background-color:@bg-light;
    ul{
        .clearfix;
        list-style:none;
    }
    .subctg {
        li {
            .fl;
            div {
                .size(52px);
            }
            .bg-1 {
                background:url('https://icon.jx3box.com/furniture/homelandbuildingfiltericon.png') no-repeat;
            }
            .bg-2 {
                background:url('https://icon.jx3box.com/furniture/homelandbuildingfiltericon2.png') no-repeat;
            }
            .x;
            .sprite-generate(@i:0) when (@i <= 18){
                .sprite-generatej(@j:0) when (@j <= 8){
                    .sprite-@{i}-@{j}{
                        background-position:-52px*(@i) -52px*(@j);
                    }
                    .sprite-@{i}-@{j}-important{
                        background-position:-52px*(@i) -52px*(@j) !important;
                    }
                    .sprite-generatej(@j + 1);
                }
                @j: 0;
                .sprite-generatej(0);
                .sprite-generate(@i + 1);
            }
            .sprite-generate(0);
        }
        li:hover {
            cursor: pointer;
        }
    }
}

.furniture-indicator {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/furniture_indicator.png);
    background-size: 64px 16px;
    vertical-align: middle;

    &.interactable {
        background-position: -32px 0px;
    }
    &.scaleable {
        background-position: 0px 0px;
    }
    &.chainable {
        background-position: -48px 0px;
    }
}

.furniture-filter {
    padding: 12px;

    .note {
        font-size: 14px;
        line-height: 24px;
        height: 24px;
    }
}

