.m-single-pics {
    .el-carousel__container {
        .h(500px);
    }
}
@media screen and (max-width: @ipad) {
    .m-single-pics {
        .el-carousel__container {
            .h(400px);
        }
    }
}
@media screen and (max-width: @phone) {
    .m-single-pics {
        .el-carousel__container {
            .h(200px);
        }
        .el-carousel__button{
            .w(10px);
        }
    }
}

.m-house-pics {
    margin: 0 20px;
    .el-carousel__item {
        display: flex;
        align-items: center;
    }
}

.el-icon-circle-close {
    color: #fff;
}

.m-house-data {
    margin: 20px;
    table {
        .w(auto) !important;
    }
}



