.m-blueprint{
    padding:20px;
}
.m-blueprint-list{
    ul,li{
        list-style:none;
        padding:0;
        margin:0;
    }

    .u-item{
        
    }

    .u-pic{
        .db;
        .w(100%);
        .h(180px);
        padding:5px;
        border:1px solid #eee;
        .r(2px);
        box-sizing: border-box;

        &:hover img{
            filter : saturate(120%) brightness(120%);
        }

        .pr;
    }
    .u-img{
        .w(100%);
        .h(100%);
        overflow: hidden;
        .db;
        img{
            transition:0.2s ease-in-out;
            .db;
            .w(100%);
        }
    }

    .u-map{
        .pa;.rt(10px);
        font-style: normal;
        .fz(12px,20px);
        padding:0 5px;
        background-color:rgba(255,255,255,.5);
        .r(2px);
        color:#402b2b;
    }

    .u-pos{
        .db;
        .fz(13px,2);
        padding:5px 10px;
        color:#888;

        em{
            font-style: normal;
            background-color:#f5f7fa;
            padding:3px 8px;
            .r(2px);
        }
        .x;
    }

    .u-title{
        .db;
        .x;
        .fz(13px);
        .bold;
        .nobreak;
        color:@color;
        &:hover{
            color:@primary;
        }

        .u-text{
            .lh(2);
        }
    }

    .u-blueprint{
        background-color:@primary;
        color:#fff;
        padding:2px 6px;
        .r(2px);
        font-weight: normal;
        .mr(5px);
        i{
            .mr(2px);
        }
    }

    
}