.m-blueprint{
    padding:20px;
}
.m-blueprint-list{
    ul,li{
        list-style:none;
        padding:0;
        margin:0;
    }

    .el-col-6{
        max-width:320px;
    }

    .u-item{
        .mb(20px);
    }

    .u-pic{
        .db;
        .w(100%);
        .h(auto);
        max-height:180px;
        overflow: hidden;
        padding:5px;
        border:1px solid #eee;
        .r(2px);
        box-sizing: border-box;

        &:hover img{
            filter : saturate(120%) brightness(120%);
        }

        .pr;
    }
    .u-img{
        .w(100%);
        .h(100%);
        overflow: hidden;
        .db;
        img{
            transition:0.2s ease-in-out;
            .db;
            .w(100%);
        }
    }

    .u-map{
        .pa;.rt(10px);
        font-style: normal;
        .fz(12px,20px);
        padding:0 5px;
        background-color:rgba(255,255,255,.5);
        .r(2px);
        color:#a55e3d;
    }

    .u-pos{
        .db;
        .fz(13px,2);
        padding:5px 10px;
        color:#888;
        .nobreak;

        em{
            font-style: normal;
            background-color:#f5f7fa;
            padding:3px 8px;
            .r(2px);
        }
        .x;
    }

    .u-title{
        .db;
        .x;
        .fz(13px);
        // .bold;
        .nobreak;
        color:#555;
        &:hover{
            color:@primary;
        }

        .u-text{
            .lh(2);
        }
    }

    .u-blueprint{
        background-color:@primary;
        color:#fff;
        padding:2px 6px;
        .r(2px);
        font-weight: normal;
        .mr(5px);
        i{
            .mr(2px);
        }
    }

    
}
// @media screen and (max-width:1680px){
//     .m-blueprint-list .u-pic{
//         .h(160px);
//     }
// }
// @media screen and (max-width:1536px){
//     .m-blueprint-list .u-pic{
//         .h(140px);
//     }
// }
// @media screen and (max-width:@mininote){
//     .m-blueprint-list .u-pic{
//         .h(120px);
//     }
// }
// @media screen and (max-width:@game){
//     .m-blueprint-list .u-pic{
//         .h(120px);
//     }
// }
@media screen and (max-width:@phone){
    .m-blueprint-list .el-col-6{
        .w(50%);
    }
}