.m-side-rank {
    padding: 15px;

    .u-icon {
        .mr(5px);
        .y(-5px);
    }
}

.m-side-links {
    padding: 15px;

    .u-icon {
        .size(18px);
        .y(-3px);
    }
}

.m-flower-rec-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .fz(12px,34px);

    td, th{
        padding:5px 0;
    }

    li {
        display: flex;
        height: 34px;
        border-bottom: 1px dotted #eee;
        color:#555;
        .nobreak;
    }

    .u-th{
        .bold;
    }

    .u-name {
        .dbi;
        .w(30%);
        min-width:120px;
    }

    .u-price{
        .dbi;
        .w(60px);
    }

    .u-line{
        .x(right);
        flex:1;
    }
}

.m-flower-rec-more{
    .fr;
    .fz(12px);
    color:@darkblue;
    font-weight:normal;
    &:hover{
        color:@pink;
    }
}

.m-flower-rec-select{
    .db;
    .mb(5px);
}

@media screen and (max-width:@phone){
    .m-side-rank,.m-side-links{
        .none;
    }
}